.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    & label {
        margin-bottom: .6em;
        font-weight: bold;
    }

    & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0.7em;
        border-radius: 0;
        border: none;
    }
}